*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    height:100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    
    
}
#left{
    width: 40%;
    height: 100%;
    position: relative;
    /* background-image: url(img4.jpg */
    background-size: cover;
    background-position: top;
}
#lnav{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
#lnavr{
    display: flex;
    align-items: center;
}
#lnav a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight:500;
    font-size: 25px;
}
#lnavr i{
    color:  royalblue;
    font-size: 20px;
    padding-right: 10px;

}
#left #textcentre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcentre h1{
    font-size: 80px;
    font-weight: 900px;

}
#textcentre p{

    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
#textcentre a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
}
#right{
    width: 60%;
    height: 100%;
    background-color: white;
}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: royalblue;
}
#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(img3.jpg);
    background-size: cover;
    background-position: center;
}
#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(img2.jpg);

    background-size: cover;
    background-position: center;
}
#rtopright{
    width: 55%;
    height: 100%;
    background-image: url(img1.jpg);
    background-size: cover;
    background-position: center;
}
@media(max-width:500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}